In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("PS_20174392719_1491204439457_log.csv")
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [3]:
data1=data.copy()

In [4]:
data1.drop(['isFlaggedFraud','nameOrig','nameDest'], inplace=True, axis=1)

In [5]:
data1.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0
1,1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0
2,1,TRANSFER,181.00,181.0,0.00,0.0,0.0,1
3,1,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1
4,1,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0

In [6]:
data1 = pd.get_dummies(data1,prefix=['type'])

In [7]:
pd.DataFrame.head(data1)

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,0,0,1,0
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,0,0,1,0
2,1,181.00,181.0,0.00,0.0,0.0,1,0,0,0,0,1
3,1,181.00,181.0,0.00,21182.0,0.0,1,0,1,0,0,0
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,0,0,1,0

In [8]:
from sklearn.preprocessing import StandardScaler
independent_scalar=StandardScaler()
data1[['step','amount', 'oldbalanceOrg','newbalanceOrig', 'oldbalanceDest','newbalanceDest']]= independent_scalar.fit_transform(data1[['step','amount', 'oldbalanceOrg','newbalanceOrig', 'oldbalanceDest','newbalanceDest']])
data1.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,-1.703042,-0.281560,-0.229810,-0.237622,-0.323814,-0.333411,0,0,0,0,1,0
1,-1.703042,-0.294767,-0.281359,-0.285812,-0.323814,-0.333411,0,0,0,0,1,0
2,-1.703042,-0.297555,-0.288654,-0.292442,-0.323814,-0.333411,1,0,0,0,0,1
3,-1.703042,-0.297555,-0.288654,-0.292442,-0.317582,-0.333411,1,0,1,0,0,0
4,-1.703042,-0.278532,-0.274329,-0.282221,-0.323814,-0.333411,0,0,0,0,1,0

In [9]:
data1.drop('isFraud', inplace=True, axis=1)

In [10]:
data2=data1[['step','amount', 'oldbalanceOrg','newbalanceOrig', 'oldbalanceDest','newbalanceDest']]

In [24]:
data1.columns

Index(['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest',
       'newbalanceDest', 'type_CASH_IN', 'type_CASH_OUT', 'type_DEBIT',
       'type_PAYMENT', 'type_TRANSFER'],
      dtype='object')

In [26]:
data3=data1[['type_CASH_IN', 'type_CASH_OUT', 'type_DEBIT',
       'type_PAYMENT', 'type_TRANSFER']]

In [36]:
data3.head()

   type_CASH_IN  type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
0             0              0           0             1              0
1             0              0           0             1              0
2             0              0           0             0              1
3             0              1           0             0              0
4             0              0           0             1              0

In [11]:
data2.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,-1.703042,-0.281560,-0.229810,-0.237622,-0.323814,-0.333411
1,-1.703042,-0.294767,-0.281359,-0.285812,-0.323814,-0.333411
2,-1.703042,-0.297555,-0.288654,-0.292442,-0.323814,-0.333411
3,-1.703042,-0.297555,-0.288654,-0.292442,-0.317582,-0.333411
4,-1.703042,-0.278532,-0.274329,-0.282221,-0.323814,-0.333411

In [12]:
from sklearn.decomposition import PCA

In [51]:
pca = PCA(n_components=3)

In [52]:
pca.fit(data2)

PCA(n_components=3)

In [53]:
x_pca = pca.transform(data2)

In [54]:
data2.shape

(6362620, 6)

In [55]:
x_pca.shape

(6362620, 3)

In [56]:
x_pca

array([[-0.66876467,  0.06120362,  1.68858098],
       [-0.69884901,  0.1245596 ,  1.68992378],
       [-0.70339394,  0.13323248,  1.69011224],
       ...,
       [ 4.90463411,  1.16456286, -3.50461393],
       [ 0.03384344,  0.35299511, -3.52308734],
       [ 2.41351627,  1.21343902, -3.40847333]])

In [57]:
df=pd.DataFrame(x_pca)

In [58]:
df.head()

          0         1         2
0 -0.668765  0.061204  1.688581
1 -0.698849  0.124560  1.689924
2 -0.703394  0.133232  1.690112
3 -0.699678  0.134497  1.690287
4 -0.690223  0.120510  1.689765

In [59]:
df.shape

(6362620, 3)

In [60]:
Y= data.isFraud
Y.head()

0    0
1    0
2    1
3    1
4    0
Name: isFraud, dtype: int64

In [61]:
X = pd.concat([df,data3],axis=1)

In [62]:
X.head()

,0,1,2,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,-0.668765,0.061204,1.688581,0,0,0,1,0
1,-0.698849,0.124560,1.689924,0,0,0,1,0
2,-0.703394,0.133232,1.690112,0,0,0,0,1
3,-0.699678,0.134497,1.690287,0,1,0,0,0
4,-0.690223,0.120510,1.689765,0,0,0,1,0

In [63]:
data3.head()

   type_CASH_IN  type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
0             0              0           0             1              0
1             0              0           0             1              0
2             0              0           0             0              1
3             0              1           0             0              0
4             0              0           0             1              0

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20, random_state = 42,stratify=Y)

In [66]:
print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(5090096, 8)
(1272524, 8)
(5090096,)
(1272524,)

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,roc_curve, roc_auc_score

In [68]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [69]:
y_pred = model.predict(X_test)

In [70]:
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.998750514725066

In [71]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[1270857      24]
 [   1566      77]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00   1270881
           1       0.76      0.05      0.09      1643

    accuracy                           1.00   1272524
   macro avg       0.88      0.52      0.54   1272524
weighted avg       1.00      1.00      1.00   1272524

In [72]:
auc = roc_auc_score(y_test, y_pred)
auc

0.5234233027099091

PCA is Dimensional Reduction Technique which is used for reducing the features and give High accuracy but in my case this is not working so I will go with traditional approach.